<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<%= { "hello": "world" } GET 'hello' %>

<% IF @cookies.language is null then%>
HELLO WORLD
<% ELSE %>
WORLD HELLO
<%END IF%>
<%
VAR $row := SELECT * FROM qross_tasks LIMIT 10 -> LAST ROW;
%>
<%= $row.ready_time IF NULL $row.start_time %>
<div>${row.id}</div>
<div> ${ row.job_id }</div>
<div>
    <%
    IF $row.id IS INT THEN
        OUTPUT 'INT';
    ELSE
        OUTPUT 'NOT INT';
    END IF;
    %>
</div>


</body>
</html>